@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

:root{
    --main-border: rgb(116, 111, 117);
    --blue-accent: rgb(164, 191, 213);
    --blue-accent-dark: rgb(145, 155, 164);
    --off-white-accent: rgb(230, 224, 215);
    --fur-light: rgb(245, 219, 165);
    --fur-light-complement: rgb(165 190 245);
    --fur-neutral: rgb(224, 193, 104);
    --fur-dark: rgb(198, 157, 80);
    --fur-darker: rgb(188, 142, 68);
}

.page {
    background-color: rgb(from var(--fur-light) r g b / 0.4);
    font-family: "Noto Sans Mono", "Lucida Console";
}    

.birthdayLion {
    opacity: 0.6;
    text-align: center;
    font-size: x-large;
}

.birthdayLink:link {
    text-decoration: none;
}
.birthdayLink:visited {
    text-decoration: none;
}
.birthdayLink:hover {
    text-decoration: none;
}
.birthdayLink:active {
    text-decoration: none;
}

.start1Text {
    margin: auto; /* doesn't work for text on its own */
    text-align: center;
    white-space: pre-wrap;
    color: rgb(from DarkSlateGrey r g b / 0.85);
    opacity: 1.0;
}    

.start2Text {
    margin: auto; /* doesn't work for text on its own */
    text-align: center;
    white-space: pre-wrap;
    color: rgb(from DarkSlateGrey r g b / 0.85);
    opacity: 0;
}    

.inputBox {
    /* border: 3px solid rgb(164 191 213 / 1); */
    border: 3px solid rgb(from var(--blue-accent) r g b / 1);
    border-radius: 7px;
    width: min-content;
    margin: auto;
}    

.textInput {
    border: hidden;
    border-radius: 7px;
    background-color: rgb(244 249 251 / 0.8);
    width: min-content;
    padding-left:   6px;
    padding-right:  6px;
    padding-top:    6px;
    padding-bottom: 6px;
    margin: auto;
    text-align: center;
    font-family: Verdana;
    font-size: 95%;
    color: rgb(from DarkSlateGrey r g b / 0.75);
}    

.textInput:focus {
    outline: none;
}    

.puzzle1 {
    border: 3px solid rgb(from var(--fur-neutral) r g b / 0.8);
    border-radius: 7px;
    background-color: rgb(from var(--fur-light) r g b / 0.6);
    text-align: center;
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);
    width: 30%;
    margin: auto;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    display: none;
}

.puzzle2 {
    border: 3px solid rgb(from var(--blue-accent) r g b / 1);
    /* border: 3px solid rgb(from var(--fur-light-complement) r g b / 0.5); */
    border-radius: 7px;
    background-color: rgb(206 233 232 / 0.8);
    text-align: center;
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);;
    width: 30%;
    margin: auto;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    display: none;
}

.puzzle3 {
    /* border: 3px solid rgb(164 166 245 / 0.5); */
    /* border: 3px solid rgb(98 80 198 / 0.4); */
    /* border: 3px solid rgb(144 132 215 / 0.5); */
    border: 3px solid rgb(175 166 226 / 0.66);
    border-radius: 7px;
    background-color: rgb(213 154 166 / 0.4);
    text-align: center;
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);;
    width: 30%;
    margin: auto;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    display: none;
}