@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

:root{
    --main-border: rgb(116, 111, 117);
    --blue-accent: rgb(164, 191, 213);
    --blue-accent-dark: rgb(145, 155, 164);
    --off-white-accent: rgb(230, 224, 215);
    --fur-light: rgb(245, 219, 165);
    --fur-light-complement: rgb(165 190 245);
    --fur-neutral: rgb(224, 193, 104);
    --fur-dark: rgb(198, 157, 80);
    --fur-darker: rgb(188, 142, 68);
}

.page {
    background-color: rgb(from var(--fur-light) r g b / 0.4);
    font-family: "Noto Sans Mono", "Lucida Console";
    /* overflow: hidden; */
    overflow-y: scroll;
}    

.birthdayLion {
    opacity: 0.6;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.birthdayLion:active {
    text-decoration: none;
    user-select: none;
}

.birthdayLink:link {
    text-decoration: none;
}
.birthdayLink:visited {
    text-decoration: none;
}
.birthdayLink:hover {
    text-decoration: none;
}
.birthdayLink:active {
    text-decoration: none;
}

.surpriseLion {
    display: none;
    margin: auto;
    opacity: 0.6;
    padding: none;
    border: none;
    size: 50%;
}

.start1Text {
    margin: auto; /* doesn't work for text on its own */
    text-align: center;
    white-space: pre-wrap;
    color: rgb(from DarkSlateGrey r g b / 0.85);
    opacity: 1.0;
}    

.start2Text {
    margin: auto; /* doesn't work for text on its own */
    text-align: center;
    white-space: pre-wrap;
    color: rgb(from DarkSlateGrey r g b / 0.85);
    opacity: 0;
}

.chemistry {
    margin: auto;
    display: block;
    opacity: 0.69;
    width: 30%;
    object-fit: cover;
    max-width: 200px;
    /* height: auto; */
}
    /* To allow the image to scale down, but never scale up larger than original size */
    /* max-width: 200px;
    height: auto; */

/* Also useful info: https://www.w3schools.com/css/css3_images.asp */
/* overflow: hidden; At some point look more into the difference between this and object-fit cover, see https://stackoverflow.com/questions/16177707/avoid-stretch-on-image-css */

.inputBox {
    /* border: 3px solid rgb(164 191 213 / 1); */
    border: 3px solid rgb(from var(--blue-accent) r g b / 1);
    border-radius: 7px;
    width: 25%;
    margin: auto;
}    

.textInput {
    border: hidden;
    border-radius: 7px;
    background-color: rgb(244 249 251 / 0.8);
    width: 100%;
    box-sizing: border-box;
    padding-left:   6px;
    padding-right:  6px;
    padding-top:    6px;
    padding-bottom: 6px;
    margin: auto;
    text-align: center;
    font-family: Verdana;
    font-size: 95%;
    color: rgb(from DarkSlateGrey r g b / 0.75);
}    

.textInput:focus {
    outline: none;
}    

.puzzle1 {
    border: 3px solid rgb(from var(--fur-neutral) r g b / 0.8);
    border-radius: 7px;
    background-color: rgb(from var(--fur-light) r g b / 0.6);
    text-align: center;
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);
    width: 30%;
    margin: auto;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    display: none;
}

.puzzle2 {
    border: 3px solid rgb(from var(--blue-accent) r g b / 1);
    /* border: 3px solid rgb(from var(--fur-light-complement) r g b / 0.5); */
    border-radius: 7px;
    background-color: rgb(206 233 232 / 0.8);
    text-align: center;
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);
    width: 30%;
    margin: auto;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    display: none;
}

.puzzle3 {
    /* border: 3px solid rgb(164 166 245 / 0.5); */
    /* border: 3px solid rgb(98 80 198 / 0.4); */
    /* border: 3px solid rgb(144 132 215 / 0.5); */
    border: 3px solid rgb(175 166 226 / 0.66);
    border-radius: 7px;
    background-color: rgb(213 154 166 / 0.4);
    text-align: center;
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);
    width: 30%;
    margin: auto;
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    display: none;
}

.guessBox {
    /* border: 3px solid rgb(175 166 226 / 0.66); */
    /* border-radius: 7px; */
    /* background-color: rgb(213 154 166 / 0.3); */
    /* text-align: left; */
    font-size: 110%;
    color: rgb(from DarkSlateGrey r g b / 0.9);
    width: 32.5%;
    margin: auto;
    /* padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px; */
    display: none;
}

.guess {
    /* border: 3px transparent rgb(190 245 165 / 1); */
    border-radius: 7px;
    background-color: rgb(190 245 165 / 0.8);
    padding-left:   18px;
    padding-right:  18px;
    padding-top:    12px;
    padding-bottom: 12px;
    /* width: max-content; don't use this here; it will cause text to overrun instead of wrap */
    
    /* without this, with extra <br>, it seems to add extra vertical space between p elements,
    but without extra <br> elements, with it omitted, there's spacing between them */
    /* margin: auto; */
    text-align: left;
    white-space-collapse: preserve;
}

@media screen and (max-width: 600px) {
    .chemistry {
        width: 80%;
    }

    .inputBox {
        width: 90%;
    }

    .puzzle1 {
        width: 80%;
    }

    .puzzle2 {
        width: 80%;
    }

    .puzzle3 {
        width: 80%;
    }

    .guess {
        width: 88%;
    }
}